/* NAV/MENU CSS FOR JETLAGGEDSTUDIOS' TIC-TAC-TOE */

div.navBar {
	width: 100%;
	background-color: #EEE4DA;
	border-radius: 0px 0px 5px 5px;
	border-bottom: 4px solid #BBADA0;
	overflow: hidden;
}

#upperNav {
	overflow: hidden;
	height: 60px;
	background-color: #EEE4DA;
	padding-left: 10px;
}

#menuHamburger {
	width: 50px;
	height: 50px;
	margin: 5px;
	display: block;
	border-radius: 5px;
	float: right;
	cursor: pointer;
	background: url(../graphics/menu-cog.png) no-repeat center center;
	background-size: 100% 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#lowerNav {
	width: 100%;
	height: 0px;
	text-align: center;
	background-color: #BBADA0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

div.menuButton {
	width: 30%;
	line-height: 30px;
	margin: 5px 0px;
	display: inline-block;
	cursor: pointer;
	background-color: #EEE4DA;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #BBADA0;
	opacity: 0.7;
	-webkit-transition: 0.5s opacity, 0.5s background-color;
	-moz-transition: 0.5s opacity, 0.5s background-color;
	-ms-transition: 0.5s opacity, 0.5s background-color;
	-o-transition: 0.5s opacity, 0.5s background-color;
	transition: 0.5s opacity, 0.5s background-color;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.menuButton:hover {
	opacity: 1;
}

div.menuButton:active {
	background-color: #9AFF9A;
	opacity: 1;
}

table.settings {
	display: block;
	max-width: 300px;
	width: 100%;
	margin: 0px auto;
}

tr.settingsRow {
	height: 30px;
}

input.nameTag {
	display: inline-block;
	width: 96%;
	margin: 0px 2%;
	text-align: center;
}
